<div class="forbidden-combat">
    <div class="stage stage1">
        <div class="combat-card-box selectable" data-card="attack">
            <a class="card-front">
                <img class="card-face selectable" src="modules/forbidden-card-combat/assets/en/card-attack.png" />
            </a>
            <div class="markers">
                {{#ifCond select2 '==' 'attack'}}
                <div class="marker">2</div>
                {{/ifCond}} {{#ifCond select1 '==' 'attack'}}
                <div class="marker">1</div>
                {{/ifCond}}
            </div>
        </div>
        <div class="combat-card-box selectable" data-card="defend">
            <a class="card-front">
                <img class="card-face selectable" src="modules/forbidden-card-combat/assets/en/card-defend.png" />
            </a>
            <div class="markers">
                {{#ifCond select2 '==' 'defend'}}
                <div class="marker">2</div>
                {{/ifCond}} {{#ifCond select1 '==' 'defend'}}
                <div class="marker">1</div>
                {{/ifCond}}
            </div>
        </div>
        <div class="combat-card-box selectable" data-card="prepare">
            <a class="card-front">
                <img class="card-face selectable" src="modules/forbidden-card-combat/assets/en/card-prepare.png" />
            </a>
            <div class="markers">
                {{#ifCond select2 '==' 'prepare'}}
                <div class="marker">2</div>
                {{/ifCond}} {{#ifCond select1 '==' 'prepare'}}
                <div class="marker">1</div>
                {{/ifCond}}
            </div>
        </div>
        <div class="combat-card-box selectable" data-card="hinder">
            <a class="card-front">
                <img class="card-face selectable" src="modules/forbidden-card-combat/assets/en/card-hinder.png" />
            </a>
            <div class="markers">
                {{#ifCond select2 '==' 'hinder'}}
                <div class="marker">2</div>
                {{/ifCond}} {{#ifCond select1 '==' 'hinder'}}
                <div class="marker">1</div>
                {{/ifCond}}
            </div>
        </div>
        <div class="combat-card-box selectable" data-card="maneuver">
            <a class="card-front">
                <img class="card-face selectable" src="modules/forbidden-card-combat/assets/en/card-maneuver.png" />
            </a>
            <div class="markers">
                {{#ifCond select2 '==' 'maneuver'}}
                <div class="marker">2</div>
                {{/ifCond}} {{#ifCond select1 '==' 'maneuver'}}
                <div class="marker">1</div>
                {{/ifCond}}
            </div>
        </div>
        <div class="combat-card-box selectable" data-card="await">
            <a class="card-front">
                <img class="card-face selectable" src="modules/forbidden-card-combat/assets/en/card-await.png" />
            </a>
            <div class="markers">
                {{#ifCond select2 '==' 'await'}}
                <div class="marker">2</div>
                {{/ifCond}} {{#ifCond select1 '==' 'await'}}
                <div class="marker">1</div>
                {{/ifCond}}
            </div>
        </div>
        <div class="combat-card-box selectable" data-card="double">
            <a class="card-front">
                <img class="card-face selectable" src="modules/forbidden-card-combat/assets/en/card-double.png" />
            </a>
            <div class="markers">
                {{#ifCond select2 '==' 'double'}}
                <div class="marker">2</div>
                {{/ifCond}} {{#ifCond select1 '==' 'double'}}
                <div class="marker">1</div>
                {{/ifCond}}
            </div>
        </div>
        <div class="flexcol">
            {{#if isGM}}
            <div>
                {{#if submitted}}
                <p>Opponenet is ready</p>
                {{/if}} {{#unless submitted}}
                <p>...waiting for opponenet</p>
                {{/unless}}
            </div>
            {{/if}}
            <a class="reset-selection">RESET SELECTION</a>
            <a class="submit-selection">CONTINUE</a>
        </div>
    </div>
    <div class="stage stage2 hidden">
        <div class="flexrow">
            <div class="center-middle">
                <span class="center">
                    <h2>STEP 1</h2>
                    <p>GM vs Player</p>
                </span>
            </div>
            <div class="combat-card-box" data-card="hidden">
                <a class="card-front">
                    <img class="card-face" src="modules/forbidden-card-combat/assets/en/card-back.png" />
                </a>
            </div>
            <div class="center-middle"><= VS.=></div>
            <div class="combat-card-box" data-card="hidden">
                <a class="card-front">
                    <img class="card-face" src="modules/forbidden-card-combat/assets/en/card-back.png" />
                </a>
            </div>
        </div>
        <div class="flexrow">
            <div class="center-middle">
                <span class="center">
                    <h2>STEP 2</h2>
                    <p>GM vs Player</p>
                </span>
            </div>
            <div class="combat-card-box" data-card="hidden">
                <a class="card-front">
                    <img class="card-face" src="modules/forbidden-card-combat/assets/en/card-back.png" />
                </a>
            </div>
            <div class="center-middle"><= VS.=></div>
            <div class="combat-card-box" data-card="hidden">
                <a class="card-front">
                    <img class="card-face" src="modules/forbidden-card-combat/assets/en/card-back.png" />
                </a>
            </div>
        </div>
    </div>
</div>
